/*One page website*/
/*index*/
@media screen and (max-width: 768px) {
  .area_title{
    height: 40vh;
  }

  .area_banner{
    height: 50vh;
  }

  .area_music{
    top:calc(0% + 15vh);
  }
}

@media screen and (min-width: 769px) {
  .area_title{
    display: none;
  }
}

.index_page1{
  height: 100vh;
}

.index_page2{
  height: 100vh;
}

.index_page3{
  height: 100vh;
}

.nav_page{
  position: fixed;
  top: 50%;
  right: 0;
}

.nav_page{
  position: fixed;
  top: 50%;
  right: 0;
}

.nav_page li{
  list-style:none;
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  border-radius: 50%;
}

.nav_page li.active{
  background-color: cyan;
}
